<section id="catalog">
  <h1>All posts</h1>
  <div class="wrap">

    {{#if cars.length}}
      {{#each cars}}
      <div class="car-card car-card-info">
        <div class="front">
          <img src="{{this.imageUrl}}" alt="{{this.model}}">
        </div>
        <div class="back">
          <h1>{{this.model}}</h1>
          <h2>Top Speed: {{this.topSpeed}} kmph</h2>
          <p>Description: {{this.description}}</p>
          <a href="/cars/{{this._id}}" class="details">Details</a>
        </div>
      </div>
      {{/each}}
    {{else}}
      <div class="no-posts">
        <p class="no-cars">There are no car posts yet...</p>
      </div>
    {{/if}}

  </div>
</section>
